doctype html
html(lang="en", ng-app="tuesmon")
    head
        meta(charset="utf-8")
        title Tuesmon Feedback
        meta(http-equiv="content-type", content="text/html; charset=utf-8")

        link(rel="stylesheet", href="/styles/app.css")

    body
        div(ng-view)

        script(src="/js/libs.js")
        script(src="/js/app.js")
